langchain
langchain-community
langchain-openai
proteas
string2dict
indented_logger
pyyaml
tqdm
python-magic
python-dotenv
pytest


# openai
# proteas
# string2dict
# langchain-community
# indented_logger
# langchain-openai
# pyyaml
# tqdm
# python-magic
# python-dotenv
# pytest
# langchain

